
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Registration</title>
    </head>

    <body style="text-align: center">
        <h1>Register an account</h1>

        <div th:if="${param.error}"> Passwords do not match. </div>

        <form th:action="@{/register}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><label> Repeated password: <input type="password" name="repeatedPassword"/> </label></div>
            <div><label> First Name: <input type="text" name="firstName"/> </label></div>
            <div><label> Last Name: <input type="text" name="lastName"/> </label></div>
            <div><input type="submit" value="Register"/></div>

            <div>Already have an account? <a th:href="@{login}">Log in</a></div>
        </form>
    </body>

</html>