
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Theatre Management System</title>
    </head>

    <body style="text-align: center">
        <h1>Welcome to the Theatre Management System</h1>
        <p>Explore the system and manage your projects and users!</p>
        <p><a th:href="@{register}">Register</a> | <a th:href="@{home}">Login</a></p>
    </body>

</html>